@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --darkRed: #8f0101;
    --red: #b81515;
    --lightRed: #ff3030;
    --black: #000000;
    --darkGrey: #222222;
    --grey: #8c8c8c;
    --lightGrey: #d9d9d9;
    --darkWhite: #f5f5f5;
    --white: #ffffff;
    --anchoGeneral__85: 85%;
    --titleF__1-75: 1.75rem;
    --subTitleF__1-28: 1.28rem;
    --generalF__1-2: 1.2rem;
    --elementF__1-45: 1.45rem
}


/*  cambio el tamaño de las letras en relacion al ancho de pantalla de 375px  */
@media screen and (max-width: 375px) {
    :root {
        --titleF__1-75: 1.45rem;
        --subTitleF__1-28: 1.08rem;
        --generalF__1-2: 1rem;
        --elementF__1-45: 1.25rem
    }
}

* {
    font-family: 'Monserrat', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}