/*  Contenedor de toda la pagina  */
#bodyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  CONTENEDOR DE BARRA NAVEGACION  */
.mainHeader {
    background-color: var(--black);
    width: 100%;
    height: 6.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainHeader__logonavContainer {
    width: var(--anchoGeneral);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.mainHeader__aLink {
    width: 25%;
    height: 65px;
}

.mainHeader__imgJornada {
    width: 95%;
}

.mainHeader__navList {
    margin: 0 5px;
    display: flex;
    gap: 2.5rem;

}

.mainHeader__navList a {
    font-size: var(--subTitleFont);
    font-weight: 500;
    color: var(--white);
}

/*  CONTENEDOR IMAGEN DE PRESENTACION  */
.bannerImg {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerImg__image {
    width: 100%;
    height: 50.889vh;
}

.bannerImg__figcap {
    margin: 92px 0;
    width: var(--anchoGeneral);
}

.bannerImg__figcap p {
    text-align: center;
    font-size: var(--titleFont);
    font-weight: 400;
}

/*  CONTENEDOR MAIN   */
#mainContent {
    border: 2px solid red;
    width: var(--anchoGeneral);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  estilos para los encabezados de cada seccion  */
.headerSection {
    margin-bottom: 54px;
    text-align: center;
}

.headerSection--titulo {
    margin: 10px;
    font-size: var(--titleFont);
}

.headerSection--hr {
    width: 11.25rem;
    height: 0.25rem;
    border: none;
    background-color: var(--red);
}

/*  CONTENEDOR OFERTAS SEMANALES  */
.ofertaSem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ofertaSem__div {
    display: flex;
    gap: 25px;
}

.ofertaSem__fig {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ofertaSem__fig--img {
    position: relative;
    width: 475px;
    height: 225px;
    z-index: 1;
}

.ofertaSem__fig--figcap {
    color: var(--white);
    position: absolute;
    z-index: 5;
    top: 0;
    text-align: center;
}

.ofertaSem__fig--titulo, .ofertaSem__fig--price {
    font-weight: 600;
    margin: 10px 0;

}

.ofertaSem__fig--titulo {
    font-size: var(--titleFont);
}

.ofertaSem__fig--price {
    font-size: var(--elementFont);
}

.ofertaSem__fig--button {
    font-size: var(--generalFont);
    font-weight: 600;
    text-align: center;
    color: var(--white);
    background-color: var(--red);
    width: 11.25rem;
    height: 2.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


/*  separador de div de la seccion oferta  */
.ofertaSem__div--separador {
    width: 100%;
    height: 308px;
}

/*  ofertas semanales opacas  */
.imgDark {
    filter: brightness(35%);
}

/*  separador entre seccion oferta y buscar catergoria  */
.mainContent__div {
    width: 100%;
    height: 250px;    
}

/*  CONTENEDOR BUSCAR CATEGORIA  */
.buscarCategoria {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 112px;
}

.buscarCategoria__ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.buscarCategoria__li {
    background-color: var(--darkWhite);
    width: 220.25px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscarCategoria__figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.buscarCategoria__image {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.buscarCategoria__caption {
    width: 210.25px;
    height: 60px;
    font-size: var(--elementFont);
    font-weight: bold;
    text-align: center;
    color: var(--black);
}