/*  Contenedor de toda la pagina  */
#bodyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  CONTENEDOR DE BARRA NAVEGACION  */
.mainHeader {
    background-color: var(--black);
    width: 100%;
    height: 8.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainHeader__logonavContainer {
    width: var(--anchoGeneral__85);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: relative;
}

.mainHeader__aLink {
    width: 25%;
    height: 65px;
}

.mainHeader__navList {
    margin: 0 5px;
    display: flex;
    gap: 2.5rem;

}

.mainHeader__navList a {
    font-size: var(--elementF__1-45);
    font-weight: 500;
    color: var(--white);
    display: inline-block;
    width: 100%;
}

/*  CONTENEDOR IMAGEN DE PRESENTACION  */
.bannerImg {
    width: 100%;
}

.bannerImg__fig {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerImg__image {
    width: 100%;
}

.bannerImg__caption {
    margin: 92px 0;
    width: var(--anchoGeneral__85);
}

.bannerImg__caption p {
    text-align: center;
    font-size: var(--titleF__1-75);
    font-weight: 400;
}

/*  CONTENEDOR MAIN   */
#mainContent {
    width: var(--anchoGeneral__85);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  estilos para todos los contenedores  */
.sectionGeneral {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 112px;
}

/*  estilos para los encabezados de cada seccion  */
.headerSection {
    margin-bottom: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerSection--titulo {
    margin: 10px;
    font-size: var(--titleF__1-75);
}

.headerSection--hr {
    width: 11.25rem;
    height: 0.25rem;
    border: none;
    background-color: var(--red);
}

/*  CONTENEDOR OFERTAS SEMANALES  */
.ofertaSem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ofertaSem__div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.ofertaSem__fig {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ofertaSem__fig--img {
    position: relative;
    width: 530px;
    height: 275px;
    z-index: 1;
}

.ofertaSem__fig--figcap {
    color: var(--white);
    position: absolute;
    z-index: 5;
    top: 24px;
    height: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.ofertaSem__fig--ha{
    font-size: var(--generalF__1-2);
}

.ofertaSem__fig--titulo, .ofertaSem__fig--price {
    font-weight: 600;
}

.ofertaSem__fig--titulo {
    font-size: 2.5rem;
}

.ofertaSem__fig--price {
    font-size: 2.2rem;
}

.ofertaSem__fig--button, .destinosP__button {
    font-size: var(--generalF__1-2);
    font-weight: 600;
    text-align: center;
    color: var(--white);
    background-color: var(--red);
    width: 14.5rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.ofertaSem__fig--button:hover, .destinosP__button:hover {
    background-color: var(--darkRed);
    transform: translateY(2px);
}

.ofertaSem__fig--button:active, .destinosP__button:active {
    background-color: var(--lightRed);
    transform: translateY(-2px);
}

/*  separador entre seccion oferta y buscar catergoria  */
.mainContent__div {
    width: 100%;
    height: 200px;    
}

/*  CONTENEDOR BUSCAR CATEGORIA  */
.buscarCategoria__ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.buscarCategoria__li {
    background-color: var(--darkWhite);
    width: 255.25px;
    height: 185px;
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex: 1 1 calc(25% - 24px);
}

.buscarCategoria__li:hover {
    background-color: var(--lightGrey);
}

.buscarCategoria__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.buscarCategoria__image {
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.buscarCategoria__caption {
    width: 210.25px;
    height: 60px;
    font-size: var(--elementF__1-45);
    font-weight: bold;
    text-align: center;
    color: var(--black);
}

/*  CONTENEDOR DESTINOS POPULARES  */
.destinosP__ul {
    display: flex;
    gap: 24px;
}

.destinosP__li {
    height: 740px;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 24px);
    gap: 24px;
}

.destinosP__image {
    width: 540px;
    margin-bottom: 24px;
}

.destinosP__caption {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 535px;
}

.destinosP__title, .condicionesP__title {
    font-size: var(--elementF__1-45);
}

.destinosP__text, .condicionesP__text {
    font-size: var(--generalF__1-2);
    text-align: justify;
}

/*  CONTENEDOR CONDICIONES DE PAGO  */
.condicionesP__arti {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.condicionesP__sect {
    width: 384px;
    height: 188px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.condicionesP__fig {
    width: 790px;
    height: 460px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.condicionesP__div {
    display: flex;
    gap: 24px;
}

/*  CONTENEDOR TESTIMONIOS  */
.testimonio__div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.testimonio__sect {
    width: 380px;
    height: 205px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.testimonio__text {
    width: 380px;
    height: 74px;
}

.testimonio__fig {
    display: flex;
    gap: 24px;
}

.testimonio__caption {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.testimonio__user {
    font-size: var(--elementF__1-45);
}

/*  CONTENEDOR IMAGEN  */
.imagenFoot {
    width: 100%;
}

/*  FOOTER PRINCIPAL  */
.footContent {
    width: 100%;
    background-color: var(--black);
    height: 232px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footContent__div {
    width: var(--anchoGeneral__85);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footContent__sect h4 {
    font-size: var(--generalF__1-2);
    font-weight: 100;
    margin-bottom: 15px;
}

.footContent__imgLogo {
    width: 35%;
    margin-bottom: 15px;
}

.footContent__caption {
    font-weight: 800;
    margin-bottom: 15px;
}

.footContent__divLogo {
    display: flex;
    justify-content: center;
    gap: 15px;
}


/*  MEDIA QUERYES  */

/* PANTALLAS 768 */
.mainHeader__menuBtn {
    display: none;
}

@media screen and (max-width: 768px) {

    /*  CONTENEDOR DE BARRA NAVEGACION  */
    .mainHeader__menuIcon {
        display: block;
        width: 32px;
        height: 4px;
        background-color: #ffffff;
        margin: 6px 0;
        transition: all 0.3s ease-in-out;
    }
    
    .mainHeader__nav {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    .mainHeader__nav.open {
        display: block;
        position: absolute;
        top: 30%;
        left: 65%;
        width: 30%;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        z-index: 10;
        opacity: 1;
    }

    .mainHeader__nav.open ~ .mainHeader__logonavContainer {
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .mainHeader__navList {
        width: 175px;
        height: 170px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    /* estilos para reemplazar el logo del banner */
    .mainHeader__aLink {
        width: 10%;
        height: 50%;
    }
    
    .mainHeader__menuBtn {
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    /* Cambios al hacer clic: transformar las líneas en un círculo */
    .mainHeader__menuBtn.open .mainHeader__menuIcon {
        background-color: transparent;
        border: 2px solid white;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    /* Rotación y transformación de las líneas */
    .mainHeader__menuBtn.open .mainHeader__menuIcon:nth-child(1) {
        opacity: 0;
        display: none;
    }

    .mainHeader__menuBtn.open .mainHeader__menuIcon:nth-child(2) {
        opacity: 1;
    }

    .mainHeader__menuBtn.open .mainHeader__menuIcon:nth-child(3) {
        opacity: 0;
        display: none;
    }

    .mainHeader__imgJornada {
        content: url('./img/logo-webSite_mobile.png');
        width: 80%;
    }

    /*  CONTENEDOR OFERTAS SEMANALES  */
    .ofertaSem__fig--img {
        width: 325px;
        height: 270px;
        object-fit: cover;
        border-radius: 10px;
    }

    /*  CONTENEDOR BUSCAR CATEGORIA  */
    .buscarCategoria__li {
        flex: 1 1 calc(50% - 24px); 
    }

    /*  CONTENEDOR DESTINOS POPULARES  */
    .destinosP__ul {
        flex-direction: column;
        gap: 45px;
    }

    .destinosP__image {
        width: 530px;
        height: 410px;
    }

    /*  CONDICIONES DE PAGO  */
    .condicionesP__arti {
        flex-direction: column;
        align-items: center;
    }

    .condicionesP__sect {
        width: 100%;
    }

    .condicionesP__div {
        justify-content: center;
    }

    .condicionesP__imgS {
        width: 330px;
    }

    .condicionesP__imgL {
        width: 685px;
    }

    /*  CONTENEDOR TESTIMONIOS  */
    .testimonio__div {
        flex-direction: column;
        align-items: center;
    }

    .testimonio__sect, .testimonio__text {
        width: 100%;
    }

    .testimonio__text {
        height: 40px;
    }

    /*  FOOTER PRINCIPAL  */
    .footContent {
        height: 280px;
    }

    .footContent__div {
        flex-direction: column;
        gap: 15px;
    }

    .footContent__sect {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footContent__imgLogo {
        width: 25%;
    }
}
