/*  Contenedor de toda la pagina  */
#bodyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  Barra de navegacion principal  */
.mainHeader {
    background-color: var(--black);
    width: 100%;
    height: 138px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainHeader__logonavContainer {
    width: var(--anchoGeneral);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.mainHeader__navList {
    margin: 0 5px;
    display: flex;
    gap: 40px;

}

.mainHeader__navList a {
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
}

/*  imagen y texto de presentacion  */
.bannerImg {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerImg__figcap {
    margin: 92px 0;
    width: var(--anchoGeneral);
}

.bannerImg__figcap p {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

/*  contenedor principal de la pagina  */
#mainContent {
    border: 2px solid red;
    width: var(--anchoGeneral);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  contenedor de seccion ofertar semnanales  */
.ofertaSem {
    border: 2px solid blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ofertaSem__titulo {
    border: 2px solid red;
    margin-bottom: 25px;
}

.ofertaSem__titulo h2 {
    font-size: 32px;
}

.ofertaSem__titulo hr {
    width: 180px;
    height: 3px;
    color: var(--red);
    background-color: var(--red);
}

.ofertaSem__div {
    display: flex;
}

.ofertaSem__fig {
    border: 2px solid red;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ofertaSem__fig--img {
    position: relative;
    width: 428px;
    height: 215px;
    z-index: 1;
}

.ofertaSem__fig--figcap {
    color: var(--white);
    position: absolute;
    z-index: 5;
    top: 0;

}

.ofertaSem__div--separador {
    width: 100%;
    height: 308px;
}